header {
    background-color:#99ebff;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}

header h1 {
    padding: 10px;
    margin: 0;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    display: block;
    background-color:#99ebff;
    height: 100%;
    overflow: auto;
    float: left;
}

.menu-item:hover {
    background-color: grey;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 220px;
}
  
.card {
    background-color: #eeeeee;
    height: 90px;
    width: 120px;
    box-shadow: 1px 1px grey;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}