header {
    background-color:#99ebff;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}

header h1 {
    padding: 10px;
    margin: 0;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    display: block;
    background-color:#99ebff;
    height: 100%;
    overflow: auto;
    float: left;
}

.cart {
    display: none;
    margin: 10px auto 10px auto;
    width: 200px;
    background-color: #98FB98;
    float: right;
    padding-left: 2.5em;
    text-indent:-2.5em;
    border-radius: 10px;
    text-align: left;
}

.menu-item {
    display: inline;
}

.submenu {
    background-color: #6495ED;
}

img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    float: right;
}

.menu-item:hover {
    background-color: grey;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 220px;
}
  
.card {
    background-color: #eeeeee;
    height: 100px;
    width: 120px;
    box-shadow: 1px 1px grey;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.form-card {
    background-color: #eeeeee;
    height: auto;
    width: 300px;
    box-shadow: 1px 1px grey;
    padding: 0px 25px 25px 25px;
    border-radius: 10px;
    text-align: center;
}