body {
    background-color: honeydew;
}

header {
    background-color:#FFDAB9;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}

header h1 {
    padding: 10px;
    margin: 0;
}
  
.sidebar {
    margin: 0;
    width: 200px;
    display: block;
    background-color:#FFDAB9;
    height: 100%;
    overflow: auto;
    float: left;
}

.sidebar h2 {
    padding-left: 15px;
}

.sidebar h2:hover {
    cursor: pointer;
}

.sidebar li {
    margin-left: -30px;
}

.cart {
    display: none;
    margin: 10px auto 10px auto;
    width: 200px;
    background-color: #98FB98;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    text-align: left;
}

.submenu {
    list-style-type: none;
    background-color: #FFEFD5;
    font-weight: lighter;
}

img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    float: right;
}

img:hover {
    cursor: pointer;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    margin-left: 230px;
}
  
.card {
    margin: auto;
    position: relative;
    background-color: #eeeeee;
    height: 100px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.card span {
    padding: 2px;
    position: absolute;
    bottom: 1px;
    right: 5px;
}

.card span:hover {
    cursor: pointer;
}

.form-card {
    background-color: #eeeeee;
    height: auto;
    width: 300px;
    box-shadow: 1px 1px grey;
    padding: 0px 25px 25px 25px;
    border-radius: 10px;
    text-align: center;
}